body{
    font-family: 'Jura', sans-serif; 

}
.container{
    background-image: url(https://us.123rf.com/450wm/molaruso/molaruso1605/molaruso160500064/57184865-abstract-background-with-trend-gradient-pastel-blur-colors-lime-yellow-green-blue-and-cyan-for-desig.jpg?ver=6);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: lightgreen;
    margin-bottom:4%;
    min-height: 100px;
    padding:10%;
    font-size: 20px;
    
}

h1{
    font-weight: bolder;
}

input{
    width: 200px;
    border-radius: 10px;
    
}

button{
    background-color: white;
    border-radius: 10px;
    
}

button:hover{
    background-color: lightgreen;}

.result1{
    padding: 20px;
    margin: 20px; 
    text-align: center;
}

.row{
    display:flex;
    flex-wrap: wrap;
}

select{
    text-overflow: ellipsis;
}